{% extends "BasePage.html" %}

{% block preview %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://send.chief.zone/about">
    <meta property="og:title" content="ChiefSend About">
    <meta property="og:description" content="Über ChiefSend">
{% endblock preview %}

{% block content %}
    <h1>Über</h1>
    <p>
        Diese Seite ist aus Trauer um Firefox Send entstanden.
        <a class="nav-link" href="https://gitlab.cs.fau.de/chiefs/chiefsend2">Quellcode</a>
    </p>

    <h2>Impressum</h2>
    <p>
        Lukas Böhm
        <br>
        Schüsselwiesenweg 7
        <br>
        90482 Nürnberg
        <br>
        Mail: <a href="mailto:boehm-lukas@outlook.de">boehm-lukas@outlook.de</a>
    </p>
{% endblock content %}